.footer {
  background-color: rgba(255, 255, 255, 0.085); 
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-top: auto; /* Garante que o footer seja empurrado para baixo */
}
  
  .footer-content {
    color: #fff;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  